In [22]:
import datasets as ds
import pandas as pd

from tqdm import tqdm

In [30]:
with open('main_langs.txt', 'r', encoding='utf-8') as f:
    wiki_langs = [line.strip() for line in f if line.strip()]

In [20]:
wiki_data = pd.read_csv('wiki_data.csv')

In [39]:
import ollama

# Choose a small model (e.g., 'phi3', 'gemma:2b', or 'mistral')
model_name = 'llama3.2:3b'
prompt = """Classify the language of this sentence from this list: {langs}

Text:
{text}

Write answer only one word, if you are not sure write UNK
"""

In [42]:
llm_ans = []
for text in tqdm(wiki_data['text'].values):
    prompt = prompt.format(langs=wiki_langs, text=text)
    #print(prompt)

    response = ollama.generate(model=model_name, prompt=prompt)
    llm_ans.append(response['response'])

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 25000/25000 [21:54<00:00, 19.01it/s]

In [43]:
wiki_data['pred_llm'] = llm_ans

In [44]:
wiki_data.to_csv('wiki_data_with_llm.csv', index=None)

In [45]:
wiki_data

      lang                                               text pred_llm
0       en  British Arab Commercial Bank The British Arab ...      UNK
1       en  British Arab Commercial Bank BACB has a head o...       de
2       en  British Arab Commercial Bank The bank provides...       en
3       en  British Arab Commercial Bank The bank was foun...      UNK
4       en  British Arab Commercial Bank In 2009, Commerci...       en
...    ...                                                ...      ...
24995   sw  Kenya Hadi mwaka wa 1920, eneo linaloitwa Keny...       en
24996   sw  Kenya Mwanzoni mwa karne ya 20, wakulima Waing...       en
24997   sw  Kenya Maeneo hayo yalikuwa makao ya watu milio...      UNK
24998   sw  Kenya Mwaka wa 1951, Horace Hector Hearne akaw...       en
24999   sw  Kenya Kuanzia Oktoba 1952 mpaka Desemba 1959, ...       en

[25000 rows x 3 columns]

In [50]:
import numpy as np

np.unique(wiki_data['pred_llm'].values)

array(['UNK', 'ar', 'de', 'en', 'es', 'unk'], dtype=object)